<div class="bootstap wrapper">
    <div class="container-fluid">
        <h1 class="mt20">Available Quizzes</h1>
        <div class="row mt20" *ngIf="quizzes">
            <div class="col-md-4" *ngFor="let q of quizzes">
                <mat-card class="mb20">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="primary">View</button>
                        <button mat-stroked-button color="primary" class="ml20" [routerLink]="'/user-dashboard/instructions/'+q.qId">Start</button>
                        <button mat-stroked-button color="primary" class="ml20">Marks : {{q.maxMarks}}</button>
                        <button mat-stroked-button color="primary" class="ml20">Questions : {{q.numberOfQuestions}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-card class="mt20" *ngIf="quizzes.length==0">
                <mat-card-content>
                    <h1>No quiz availble in this category</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>